---
---

<div class="cases">
  <slot />
</div>

<style>
  .cases {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 720px;
  }

  @media (max-width: 767px) {
    .cases {
      width: auto;
      margin: 0 16px;
      gap: 12px;
      position: relative;
      z-index: 2;
    }
  }
</style>
